[submodule "themes"]
	path = themes
	url = https://github.com/getpelican/pelican-themes
[submodule "Flex"]
	path = Flex
	url = https://github.com/jgsogo/Flex
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
